# Django
SECRET_KEY=change-me-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database (SQLite par défaut en dev)
DATABASE_URL=sqlite:///db.sqlite3

# Redis / Celery
REDIS_URL=redis://localhost:6379/0

# PayDunya (à remplir plus tard)
PAYDUNYA_MODE=test
PAYDUNYA_MASTER_KEY=
PAYDUNYA_PRIVATE_KEY=
PAYDUNYA_TOKEN=
